# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python
venv/
env/
ENV/
.venv

# Environment variables
.env
*.env
!.env.example

# n8n
n8n/n8n-data/

# Node/React
node_modules/
frontend/build/
frontend/dist/
.DS_Store

# IDE
.vscode/
.idea/
*.swp
*.swo
