version: '3.8'

services:
  n8n:
    image: n8nio/n8n:latest
    container_name: n8n-local
    restart: unless-stopped
    ports:
      - '5678:5678'
    environment:
      - N8N_BASIC_AUTH_ACTIVE=true
      - N8N_BASIC_AUTH_USER=admin
      - N8N_BASIC_AUTH_PASSWORD=admin123
      - N8N_HOST=localhost
      - N8N_PORT=5678
      - N8N_PROTOCOL=http
      - WEBHOOK_URL=https://intercarotid-straightforwardly-denis.ngrok-free.dev/
      - GENERIC_TIMEZONE=America/Bogota
    volumes:
      - ./n8n-data:/home/node/.n8n
